* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0px 40px;
}

a {
    color: black;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.error {
    max-width: 250px;
    color: red;
    padding-top: 20px;
}

.success {
    color: green;
    padding-top: 20px;
}

.full-screen {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#components-layout-demo-custom-trigger .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
    background: #fff;
}

.ant-layout-header{
    background: #fff !important;
}